html, body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'Slabo 27px', serif;
}
body{
    background-image: url("golf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.everything{
    height: auto;
    width: auto;
    background-color: rgba(255,255,255, 0.9);
    border-radius: 20px;
    margin-top: 10%;
    padding-left: 10px;
    padding-right: 10px;

}
#mycourses{
    margin-left: 50%;
    padding-top: 20px;
    text-decoration: underline;
}
select{
    margin-left: 21%;
    border-radius: 5px;
    border: .5px solid black;
    margin-bottom: 2px;
    display: inline-block;
}
table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    color: black;
    height: auto;
    background-color: #FFFFFF;
}
#yards{
    color: #054E38;
}

input{

    width: 25%;
    border-radius: 5px;
    border: .5px solid black;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 2px;
    display: inline-block;
    /*margin-right: 20%;*/

}